<div class="party-card">
    <div class="party-img bg-preview-text-image" id="party-img"></div>
    <div class="party-venue" id="preview-title">
        {% if new_party_form.title.data is not none %}{{ new_party_form.title.data }}{% else %}TITLE{% endif %}
    </div>
    <div class="party-date">
        <div>{{ new_party_form.party_start_datetime.data.strftime("%B") }} {{ new_party_form.party_start_datetime.data.strftime("%d") }}</div>
        <div class="no-breaks">{{ new_party_form.party_start_datetime.data.strftime("%H:%M") }} - {{ new_party_form.party_end_datetime.data.strftime("%H:%M") }}</div>
    </div>
    <div class="party-info">
        <div class="party-info-container">
            <div class="party-date">
                <div id="preview-month" class="party-month">{{ new_party_form.party_start_datetime.data.strftime("%b") }}</div>
                <div id="preview-day" class="party-day">{{ new_party_form.party_start_datetime.data.strftime("%d") }}</div>
            </div>
            <div class="party-date-full">
                <div>{{ new_party_form.party_start_datetime.data.strftime("%b") }} {{ new_party_form.party_start_datetime.data.strftime("%d") }}</div>
                <div class="no-breaks preview-time">{{ new_party_form.party_start_datetime.data.strftime("%H:%M") }} - {{ new_party_form.party_end_datetime.data.strftime("%H:%M") }}</div>
            </div>
            <div class="party-info-logo">
                <div class="party-time no-breaks preview-time">{{ new_party_form.party_start_datetime.data.strftime("%H:%M") }} - {{ new_party_form.party_end_datetime.data.strftime("%H:%M") }}</div>
                <div class="party-logo bg-preview-text-logo" id="party-logo"></div>
            </div>
        </div>
        <div class="party-buy">
            <div class="party-buy-tickets">
                <div class="tickets-container unselectable py-1">
                    <span class="party-title">Tickets</span>
                    <span class="party-counter">
                        <i class="fas fa-minus-circle clickable"></i>
                        <input class="party-amount" min="0" step="1" value="6" disabled>
                        <i class="fas fa-plus-circle clickable"></i>
                    </span>
                </div>
                <div class="tables-container py-1">
                    <span class="party-title">Tables</span>
                    <span><i class="fas fa-info-circle clickable"></i></span>
                </div>
                <div class="py-1">
                    <button class="btn btn-dark btn-sm">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>