{% extends "sidebar_base.html" %}

{% block app_content %}
    <div>
        <h1>{{ g.values.CLUB_OWNER }} accounts <span class="badge badge-primary">{{ accounts|length }}</span></h1>
        <input type="text" id="filter" class="form-control" placeholder="Filter by name..." onkeyup="filterCards()">
        <label for="filter"></label>
    </div>
    <div class="d-grid grid-column-gap-3 grid-row-gap-3 grid-template-columns-xl-2">
        {% for acc in accounts %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">{{ acc.username }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>E-mail:</b><br/>{{ acc.email }}</li>
                    <li class="list-group-item"><b>Access level:</b><br/>{{ g.values.ACCESS_LEVEL[acc.access] }}</li>
                    <li class="list-group-item">
                        <b>Active:</b><br/>
                        {% if acc.is_active and acc.password_hash is not none %}
                            {{ g.values.TF[acc.is_active] }}
                        {% elif acc.is_active %}
                            Active, password not yet set.
                        {% endif %}
                    </li>
                    <li class="list-group-item"><b>Last seen:</b><br/>{{ acc.last_seen }}</li>
                </ul>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">{{ hostesses[acc].username }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>E-mail:</b><br/>{{ hostesses[acc].email }}</li>
                    <li class="list-group-item"><b>Access level:</b><br/>{{ g.values.ACCESS_LEVEL[hostesses[acc].access] }}</li>
                    <li class="list-group-item">
                        <b>Active:</b><br/>
                        {% if hostesses[acc].is_active and hostesses[acc].password_hash is not none %}
                            {{ g.values.TF[acc.is_active] }}
                        {% elif hostesses[acc].is_active %}
                            Active, password not yet set.
                        {% endif %}
                    </li>
                    <li class="list-group-item"><b>Last seen:</b><br/>{{ hostesses[acc].last_seen }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const filter = document.getElementById('filter');

        const filterCards = () => {
            const cards = document.querySelectorAll(".card");
            let card, cardView;
            cards.forEach(card => {
                let title = card.querySelector(".card-title");
                if (title.innerHTML.toUpperCase().indexOf(filter.value.toUpperCase()) > -1) {
                    card.style.display = "";
                } else {
                    card.style.display = "none";
                }
            });
        }
    </script>
{% endblock %}