{% extends "sidebar_base.html" %}

{% block app_content %}
    <div>
        <h1>{{ g.values.PROMOTER }} accounts <span class="badge badge-primary">{{ accounts|length }}</span></h1>
        <input type="search" id="search" class="form-control" placeholder="Search by name..." onkeyup="filterCards()">
        <label for="search"></label>
    </div>
    <div class="d-grid grid-column-gap-3 grid-template-columns-md-2 grid-template-columns-lg-2 grid-template-columns-xl-3 grid-row-gap-3">
    {% for acc in accounts %}
        <div>
            <div class="card">
                <div class="card-body align-items-center d-flex justify-content-between">
                    <span class="card-title mb-0"><b>{{ acc.email }}</b></span>
                    <a class="btn btn-link btn-sm" href="#">Edit</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Active:</b><br/>
                        {% if acc.is_active and acc.password_hash is not none %}
                            {{ g.values.TF[acc.is_active] }}
                        {% elif acc.is_active %}
                            Active, password not yet set.
                        {% endif %}
                    </li>
                    <li class="list-group-item"><b>Last seen:</b><br/>{{ acc.last_seen }}</li>
                    <li class="list-group-item"><b>Code:</b><br/>{{ acc.code }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const search = document.getElementById('search');

        const filterCards = () => {
            const cards = document.querySelectorAll(".card");
            let card, cardView;
            cards.forEach(card => {
                let title = card.querySelector(".card-title");
                if (title.innerHTML.toUpperCase().indexOf(search.value.toUpperCase()) > -1) {
                    card.style.display = "";
                } else {
                    card.style.display = "none";
                }
            });
        }
    </script>
{% endblock %}